.flex-container-vertical{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.footer-bar{
    margin: 120px 0px 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: flex-end;
}

.col{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main{
    padding: 80px;
    align-items: center;
}

.image-profile{
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
}

nav{
    display: inline-block;
}

i{
    padding: 15px 15px;
    /* font-size: 24px; */
}

i:hover{
    color: #0b7fab;
    transition-duration: 375ms;
    transform: scale(1.05);
}

footer > a:visited, footer > a{
    text-decoration: none;
    color: black;
}

nav > a{
    text-decoration: none;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border-radius: 0px;
    border-color: transparent;
    color: #121212;
    margin: 20px 10px 0px 10px;
    padding: 10px 10px;
}

.button:hover {
    transition-duration: 375ms;
    background-color: rgba(0, 0, 0, 5%);
    border-radius: 12px;
    border-color: transparent;
    color: #0b7fab;
    transform: scale(1.05);
    margin: 20px 10px 0px 10px;
}

.active {
    /* background-color: rgba(0, 0, 0, 5%); */
    border-radius: 12px;
    border-color: transparent;
    color: #0b7fab;
    font-weight: bold;
    margin: 20px 10px 0px 10px;
}

.active:hover{
    transition-duration: 375ms;
    background-color: rgba(0, 0, 0, 5%);
    border-radius: 12px;
    border-color: transparent;
    color: #0b7fab;
    font-weight: bold;
    margin: 20px 10px 0px 10px;
}

.name{
    font-family: 'Joan', sans-serif;
    font-size: 50px;
    margin: 15px 0px 15px 0px;
}

.home-about{
    font-family: 'Joan', sans-serif;
    font-size: 18px;
    color: gray;
}